# Bỏ qua tất cả
*

# Cho phép các thư mục và file cụ thể
!app/
!bootstrap/
!database/
!resources/
!routes/

# Cho phép các file cần thiết
!.gitignore
!composer.json
!composer.lock
!artisan

# Cho phép tất cả file bên trong các thư mục đã bật
!app/**/*
!bootstrap/**/*
!database/**/*
!resources/**/*
!routes/**/*
